{%extends "base.html"%}
{% block title %}Invalid{% endblock title %}
{% block body %}
    <div class="container-fluid text-center my-5">
    <h1>We Cannot Match Any profile by that email or password</h1>
    <br>
    <div class="imgcontainer">
        <img class="w-50%"src="/static/img/error.jpg" alt="Avatar" class="avatar">
    </div>
    <h2>Try Again? <a href="/signin">Go Back</a></h2>
    <br>
    <h2>Dont Have an account? <a href="/signup">Register</a></h2>
    </div>
    {% endblock body %}